<div class="video">
    <div class="row" ng-controller="VideoCtrl">
        <!-- video -->
        <div class="col-xs-12 col-sm-12 col-md-6">    
            <div class="panel panel-primary">
              <div class="panel-heading">{{video.title}}</div>
              <div class="panel-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="embed-responsive embed-responsive-16by9">
                      <iframe class="embed-responsive-item" src="{{path}}"></iframe>
                    </div>
                    <br>
                    <blockquote>
                        <p><b>Description: </b>{{video.description}}</p>
                    </blockquote>
              </div>
            </div>
        </div>   

        <!-- comments -->
        <div class="col-md-6" ng-controller="CommentCtrl">
            <div class="col-md-12">
                <h2>Comments:</h2>
                <br>
                <button class="btn btn-primary" data-toggle="collapse" 
                        ng-disabled="!logged" data-target="#comment-form">Add Comment</button>
                <div id="comment-form" class="collapse">
                    <form name="form" class="col-md-6">
                        <br><br>
                        <div class="form-group">
                            <textarea ng-model="obj.comment" ng-required="required" name="comment" class="form-control"
                                      placeholder="Type your comment" rows="3" required></textarea>
                        </div>
                        <button ng-disabled="form.comment.$error.required || !logged" 
                                data-toggle="collapse" href="#comment-form"
                                ng-click="save(form , video)" type="submit" class="btn btn-primary">
                            Submit
                        </button>
                        <button ng-click="cancel()" 
                                data-toggle="collapse" href="#comment-form" type="submit" class="btn btn-danger">
                            Cancel
                        </button>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <br>
                <br>
                <blockquote ng-repeat="comment in comments">
                    <p>{{comment.comment}}</p>
                    <footer>{{comment._creator.username}}</footer>
                    <button ng-disabled="testIfUser(comment)" ng-click="edit(comment)" type="submit" class="btn btn-primary btn-xs">Edit</button>
                    <button ng-disabled="testIfUser(comment)" ng-click="delete(comment)" type="submit" class="btn btn-danger btn-xs">Delete</button>
                </blockquote>
            </div>
        </div>
    </div>
</div>