.land{
    @import "land";
}

.header{
    @import "header";
}

.home{
   @import "home"; 
}

.land{
   position: relative;
}

.video{
   @import "video";  
}

@media screen and (max-width: 991px){
    .container-fluid {
        margin-right: -15px;
    }
}


::-webkit-scrollbar { 
    display: none; 
}
