.land .video_land_background {
  width: 100vw;
  height: 100vh;
  object-fit: cover; }

.land .jumbotron {
  position: absolute;
  height: 40vh;
  width: 40vw;
  top: calc(50vh - 20vh);
  left: calc(50vw - 20vw);
  text-align: -webkit-center;
  border: solid #337ab7 2px;
  border-radius: 5px; }

.land .disable_in_large {
  position: absolute;
  height: 40vh;
  width: 40vw;
  top: calc(50vh - 20vh);
  left: calc(50vw - 20vw);
  text-align: -webkit-center;
  border: solid #337ab7 2px;
  border-radius: 5px;
  background-color: aliceblue; }

.land .btn {
  width: 10vw; }

.land .disable_in_large {
  display: none; }

@media screen and (max-width: 767px) {
  .land .disable_in_large {
    display: block !important; } }

.header .container-fluid {
  background-color: #337ab7; }

.header .navbar-brand {
  color: white !important; }

.header .navbar-brand:hover {
  color: #222 !important; }

.header .nav > li.active {
  background-color: #337ab7; }

.header .nav > li > a:link,
.header .nav > li > a:visited {
  color: white !important; }

.header .nav > li > a:hover {
  color: #555 !important; }

.header .navbar-btn:hover {
  color: #222 !important;
  font-weight: bold;
  font-size: 16px; }

.header .navbar-brand:hover {
  color: #222 !important;
  font-weight: bold;
  font-size: 20px; }

.home .thumbnail > img {
  width: 100%;
  height: 100%; }

.home .thumbnail {
  margin-bottom: 0px; }

.home .panel-body {
  padding: 0px; }

.home .play_icon_container {
  position: absolute;
  width: 16vw;
  height: 16vw;
  display: block;
  top: 25%;
  left: 25%; }

.home .thumb_icon {
  width: inherit;
  height: inherit;
  background-image: url(../images/icon.svg);
  background-repeat: no-repeat;
  background-size: 100%; }

.home .videos_container {
  position: relative; }

.home .fade.ng-leave {
  transition: 0.5s linear all;
  opacity: 1; }

.home .fade.ng-leave.ng-leave-active {
  opacity: 0; }

@media screen and (max-width: 991px) {
  .home .play_icon_container {
    width: 40vw;
    height: 40vw;
    top: 30%;
    left: 30%; } }

.land {
  position: relative; }

.video .row {
  display: flex; }

.video .content {
  flex: 1; }

.video .panel {
  height: 100%; }

@media screen and (max-width: 767px) {
  .video .row {
    flex-direction: column; }
  .video .content {
    min-height: 25vh;
    max-height: 25vh; }
  .video .embed-responsive-item {
    padding: 15px; }
  .video .embed-responsive,
  .video .panel {
    position: initial;
    min-height: 25vh;
    max-height: 25vh; } }

::-webkit-scrollbar {
  display: none; }
