<div class="video">
    <div class="row" ng-controller="VideoCtrl">
        <!-- video -->
        <div class="col-xs-12 col-sm-12 col-md-6 content">    
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="{{path}}"></iframe>
            </div>
        </div>   

        <!-- comments -->
        <div class="col-xs-12 col-sm-12 col-md-6 content">    
            <!-- 16:9 aspect ratio -->
            <div class="panel panel-primary">
              <div class="panel-heading">{{video.title}}</div>
              <div class="panel-body">{{video.description}}</div>
            </div>
        </div>
    </div>
</div>